@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
    display:flex;
    background-color: #eeeeee;
    margin:0px;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    font-family:'Montserrat',sans-serif;
}

p{
    font-size:80%;
}

h3{
    font-size:90%;
}

aside{
    background-color: #ff7610;
    width:33.33%;
    margin:10px;
    color:white;
}

.profil{
    height:300px;
    background:url("../img/moi.jpg");
    background-size:cover;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    padding:0% 0% 5% 20%;
}

.profil h1{
    margin-top:0px;
}

.parcours{
    display:flex;
}

.first{
    width:80%;
}

.contact_tel{
    display:flex;
}

.contact_mail{
    display:flex;
}

.adresse{
    display:flex;
}

.competence{
    display:flex;
}

aside .fas{
    width:20%;
    margin-top:16px;
    text-align:center;
}

aside hr{
    margin-left:20%;
    height:2px;
    border:none;
    background-color: rgba(0,0,0,0.2);
}

main{
    width:66.66%;
    height:100%;
    color: #9c9c9c;
    height:auto;
}

.section_main{
    background-color:white;
    margin:10px;
    display:flex;
    margin-bottom:20px;
    box-shadow: 0px 0px 12px 6px rgba(0, 0, 255, .2);
}

main .fas{
    width:18%;
    font-size:50px;
    margin-top:20px;
    text-align:center;
}

main span{
    font-size: small;
}

main .date{
    color:#ff7610;
}

main hr{
    height:1px;
    border:none;
    background-color:#9c9c9c;
}

main .far{
    width:99.95px;
    font-size:50px;
    margin-top:20px;
    text-align:center;
}

.interet{
    width:82%;
}

.logo_interet{
    display:flex;
    justify-content: space-between;
    color:#ff7610;
    padding-bottom:20px;
}